# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
/backend/
backend
# npm things
*/node_modules/
/node_modules/


# Sphinx documentation
docs/_build/


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# next.js
/frontend/.next/
/frontend/out/

# production
/frontend/build

# private markdown
/frontend/meta.md

# misc
/frontend/.DS_Store
/frontend/*.pem

# debug
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# local env files
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

# vercel
/frontend/.vercel


# rss
/frontend/public/rss
/frontend/public/feed.xml
/frontendpublic/sitemap.xml


# pwa
/frontend/public/sw.js
/frontend/public/workbox-*.js
/frontend/public/worker-*.js
/frontend/public/sw.js.map
/frontend/public/workbox-*.js.map
/frontend/public/worker-*.js.map


/frontend/store

/frontend/tsconfig.tsbuildinfo